:root{
    --blanco: #FFFFFF;
    --oscuro: #212121;
    --primario: #FFC107;
    --secundario: #0097A7;
    --gris: #757575;
}

html{
    font-size: 63.5%;
}
body{
    font-size: 16px;
    font-family: 'Krub', sans-serif;
}
.titulo{
    text-align: center;
    font-size: 3.6rem;
    font-weight: 400;
}
.titulo span{
    font-size: 2rem;
}

/* Inicio de nacegacion */
.nav-bg{
    background-color: var(--secundario);
}
.contenedor{
    width: 120rem;
    margin: 0 auto;

    background-color: red;
}
.navegacion-principal{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.navegacion-principal a{   

    text-decoration: none;
    font-size: 2rem;
    font-weight: 700;
    color: var(--blanco);    
    background-color: var(--primario);

}